<!DOCTYPE html>
<html>
    <head>
     <meta charset='utf-8'>
     <meta http-equiv='X-UA-Compatible' content='IE=edge'>
     <title>kidoking</title>
     <meta name='viewport' content='width=device-width, initial-scale=1'>
     <link rel='stylesheet' type='text/css' media="screen" href="/static/styles/about.css">
    </head>
<body>
    <div id="backing">
        <div class="background">
            <div class="navbar">
            <div><h1 class="title">KIDOKING</h1></div>
                <ul class="links">
                    <li><a href="{{url_for('login')}}" >signin</a></li>
                    <li><a href="{{url_for('register')}}" >signup<a></li>
                </ul>
            </div>
            <div class="main"><h1>kids movies and audio book channel</h1>
                <p>watch any where at any time</p>

            </div>
        </div>
    </div>
<div class="tv">
<div class="container">
<div class="description">
    <article>
    <h2 style="color: black;"> before login  let me tell you something about this website </h2>
    <p style="color: black;"> &nbsp &nbsp &nbsp this website designed to help kids to have a good confidence ,to be ethical person,to have good relation with other</p>
    <p style="color: black;">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp if there is any one who want to work with us please contact us at the phone below</p>
    </article>

</div>
<div class="tvclip">
    <img src="">
</div>
</div>
</div>
<footer>
    <address style="color: black;">
    contact us at mikyaswossen@gmail.com &nbsp &nbsp &nbsp tel+251909271567
    </address>
</footer>
</body>
</html>